* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main{
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 100px) {
  body {
    background-color: lightblue;
  }
}
.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

.die-num {
  font-size: 2rem;
}
.roll-button {
  margin: 15px;
  background-color: rgba(175, 175, 175, 0);
  color: rgba(171, 23, 23, 0.625);
  box-shadow: 5px 5px rgba(46, 27, 13, 0.23);
  border-radius: 10px;
  font-size: 1.5rem;
}
.roll-button:hover {
  background-color: rgba(34, 95, 95, 0.456);
}
.rules {
  color: rgba(221, 0, 255, 0.467);
  max-width: 330px;
}
